.fill-viewport {
  padding-top: 65px;
  min-height: 100vh;
  max-width: 100%;
  background-color: #FFFFFF;
}

.capitalize {
    text-transform: capitalize;
}

.longText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: 650;
}
